<div class="card">
    <img src="{{card?.Photo}}" alt="Card Image">
    <div class="card-content">
        <div class="card-title">{{card?.Title}}</div>
        <div class="card-message">{{card?.Message}}</div>
    </div>
    <form [formGroup]="form">
        <p>
            <label for="name">Name </label>
            <input name="name" id="name" type="text" formControlName="name">
        </p>
        <p>
            <label for="age">Age</label>
            <input name="age" id="age" type="text" formControlName="age">
        </p>
        <button (click)="send()" type="submit">Submit</button>
    </form>
</div>