body {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
}

.card {
    width: 50%;
    height: 100%;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: transform 0.2s ease-in-out;
    align-items: center;
}

.card:hover {
    transform: scale(1.05);
}

.card img {
    width: 50%;
    height: 50vh; /* Adjust the height as needed */
    object-fit: cover;
}

.card-content {
    padding: 20px;
    text-align: center;
}

.card-title {
    font-size: 3em; /* Adjust the font size as needed */
    font-weight: bold;
    color: #333;
}

.card-message {
    font-size: 2em; /* Adjust the font size as needed */
    color: #555;
    margin-top: 10px;
}