<div>
    <input type="text" class="beautiful-input" #inputData placeholder="Enter your text">
    <button (click)="search(inputData.value)" class="beautiful-button">Find</button>
</div>

<div [routerLink]="['details',item.id]" *ngFor="let item of filteredData" class="card">
    <img src="{{item.Photo}}" alt="img">
    <div class="card-content">
        <div class="card-title">{{item.Title}}</div>
        <div class="card-text">{{item.Message}}
        </div>
        <a href="#" class="card-button">Learn More</a>
    </div>
</div>